<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Python Learning Journal</title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link href="/static/codehilite.css" rel="stylesheet" type="text/css">
    <script>
    $( document ).ready( function() {
      $("#edit_form").hide();
    });


    </script>
  </head>
  <body>
    <header>
      <aside id="user-controls">
       <h1>My Python Journal</h1>
        <ul>
          {% if not request.authenticated_userid %}
          <li><a href="{{ request.route_url('login') }}">log in</a></li>
          {% else %}
          <li><a href="{{ request.route_url('logout') }}">log out</a></li>
          {% endif %}
        </ul>
      </aside>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="content">
        {% block body %}{% endblock %}
      </section>
    </main>
    <footer>
      <p>Created in the Code Fellows Python Dev Accelerator</p>
    </footer>
    <script>
      $("#btn_edit_post").on("click", function() {
        $("#edit_form").show('slow');
        $("#edit_detail").hide('slow');
      });
    </script>
  </body>
  </html>